.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3vw 1rem 3vw;
  font-family: var(--font-main);
  background: var(--background);
}

.logo {
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: -2px;
}

nav a {
  margin-left: 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--primary);
  position: relative;
  transition: color 0.2s;
}

nav a.active,
nav a:hover {
  color: var(--accent);
}
