:root {
  --background: #f7f7f7;
  --primary: #101010;
  --accent: #eb5757;
  --font-main: "Montserrat", Arial, sans-serif;
  --font-body: "Inter", Arial, sans-serif;
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}